<head>
  <meta charset="UTF-8">

  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{site.description}}"/>
  <meta property="og:site_name" content="{{ site.title }}">
  
  <link rel="author" href="humans.txt" />
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <!-- Imagery -->
  <link rel="icon" href="https://emojicdn.elk.sh/🐶">
 

  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}">
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml"/>

  <title>
    {% unless page.url == "/" %}
      {{ page.title }} - 
    {% endunless %} 
    {{site.title}}
  </title> 

</head>
