$black: #0F112C;
$gray-1: #3F4056;
$gray-2: #6F7080;
$gray-3: #9F9FAA;
$gray-4: #CFCFD4;
$gray-5: #E7E8EB;
$gray-6: #fff;


$blue: #CCE3F0;
$green: #D5E9DD;
$purple: #D8D4ED;
$pink: #ECD2E9;
$orange: #EED9D1;
$yellow: #F1EAD6;

 