---
layout: default
---
<p>When life gives you lemons...</p>
 
<div class="my-5">
  <h1>Lemonade <span class="d-block">the corgi</span></h1>
  <p>Coming home on February 25th 2023</p>

  <div class="cover mt-5">
    <img src="https://res.cloudinary.com/dbi2zounq/image/upload/v1673806395/zinzy.website/2023-01-15_u5a0u4.jpg" class="img-fluid" alt="">
  </div>
</div>

<hr class="my-5">

<div class="my-5">
  <h2>Gift tips</h2>
  <p>Some of you have expressed the desire to buy Lemonade a gift. We couldn't be more grateful!</p>

  <div class="mt-5">
    <h3 class="h6">Dog puzzle</h3>
    <p>We've heard corgis are smart dogs, and we want to keep Lemonade entertained! A fun puzzle can challenge and stimulate her problem-solving skills.</p>
  </div>

  <div class="mt-3">
    <h3 class="h6">Poop bags</h3>
    <p>Literally. The more ecologically-friendly, the better.</p>
  </div>

  <div class="mt-3">
    <h3 class="h6">Non-rope tug toy</h3>
    <p>We're looking forward to giving Lemonade plenty of exercise. Tug toys can do wonders for that. Rope can get stuck in her mouth, so we'd like to avoid that type of tug toy.</p>
  </div>

  <div class="mt-3">
    <h3 class="h6">Chew toy</h3>
    <p>Chew toys help Lemonade's teeth and gums stay clean and healthy!</p>
  </div>

  <div class="mt-3">
    <h3 class="h6">Portable feeders</h3>
    <p>We're still looking for great, portable food and drink bowls. If you know of something good, that'd make a wonderful gift.</p>
  </div>

  <hr class="my-5">

  <div class="">
    <h3 class="h6">❌ What we don't need</h3>
    <ul>
      <li>Clothes</li>
      <li>Food</li>
      <li>Squeaky balls</li>
      <li>Stuffed animals that are not made for dogs</li>
    </ul>
  </div>
</div>


<hr class="my-5">
 

<div class="my-5">
  <h2>Can I come hang with her?</h2>
  <p>Yes! We're looking forward to socializing Lemonade to be a confident, friendly dog. You can help us do so by meeting her, and perhaps even bringing your own (vaccinated) dog. Get in touch with <a href="http://" target="_blank" rel="noopener noreferrer">Anja</a> or <a href="https://zinzy.website" target="_blank" rel="noopener noreferrer">Zinzy</a> to schedule a date.</p>